appnope==0.1.0
autopep8==1.1.1
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
blinker==1.3
brewer2mpl==1.3.2
certifi==2015.9.6.2
cffi==1.1.2
chardet==2.2.1
cryptography==0.9.2
decorator==4.0.4
Django==1.3
dominate==2.1.16
enum34==1.0.4
flake8==2.4.1
Flask==0.10.1
Flask-Babel==0.9
Flask-Bootstrap==3.3.5.7
Flask-Login==0.2.9
Flask-Mail==0.9.0
flask-oidc==0.1.2
Flask-OpenID==1.2
Flask-SocketIO==1.0
Flask-SQLAlchemy==1.0
flask-swagger==0.2.10
Flask-Uploads==0.1.3
Flask-WTF==0.9.4
flup==1.0.2
functools32==3.2.3.post2
gevent==1.0.2
gevent-socketio==0.3.6
gevent-websocket==0.9.5
gitdb==0.6.4
GitPython==1.0.1
gnureadline==6.3.3
greenlet==0.4.9
gunicorn==19.3.0
html5lib==0.9999999
git+https://github.com/CLARIAH/iribaker.git
httplib2==0.9.1
idna==2.0
ipaddress==1.0.7
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.3
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.2
jupyter-core==4.0.6
keepalive==0.1
Linkitup==1.1
lxml==3.3.1
Markdown==2.6.2
MarkupSafe==0.23
matplotlib==1.3.1
mccabe==0.3
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.0
ndg-httpsclient==0.4.0
networkx==1.9.1
nltk==2.0.4
nose==1.3.1
notebook==4.0.5
numpy==1.10.1
oauth2client==1.4.7
oauthlib==0.6.1
pandas==0.17.0
path.py==8.1.1
pbr==0.5.23
pdfminer==20131113
pep8==1.5.7
pexpect==3.3
pickleshare==0.5
poster==0.8.1
prettyplotlib==0.1.4
ptyprocess==0.5
pyasn1==0.1.8
pyasn1-modules==0.0.5
pycparser==2.14
pyflakes==0.8.1
Pygments==2.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.5
python-dateutil==2.4.2
python-engineio==0.7.1
python-louvain==0.3
python-magic==0.4.6
python-openid==2.2.5
python-socketio==0.6.1
pytz==2015.7
PyYAML==3.11
pyzmq==14.0.1
qtconsole==4.0.1
rdfextras==0.4
rdflib==4.2.1
rdflib-jsonld==0.3
requests==2.8.1
requests-oauthlib==0.4.0
rfc3987==1.3.4
rsa==3.1.4
sh==1.11
simplegeneric==0.8.1
six==1.10.0
smmap==0.9.0
SPARQLWrapper==1.7.2
speaklater==1.3
SQLAlchemy==0.7.9
sqlalchemy-migrate==0.8.2
Tempita==0.5.2
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
virtualenv==1.11.6
visitor==0.1.2
Werkzeug==0.10.4
wheel==0.24.0
Whoosh==2.6.0
WTForms==1.0.5
xlrd==0.9.3
